@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./abstracts/variables";
* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/pexels-abid-ali-150086727-10647324.jpg") ;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
    @media (max-width: $mobile-view) {
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/pexels-abid-ali-150086727-10647324\ \(1\).jpg") ;

       }
       
}



@import "./layout";
@import "./kvkk";
@import "./footer";
@import "./navbar";
@import "./home";
@import "./properties";
@import "./propertiescommand";
@import "./propertiesupdate";

@import "./about";
@import "./contact";
@import "./expertise";
@import "./expertisecommand";
@import "./login";


@import "./card";
@import "./wpicon";



@import "./notfound";
